body{
    background:url("img/istockphoto-464497970-1024x1024-transformed.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    backdrop-filter: brightness(50%);
    min-height: 100vh;

}

.section{
    min-height: 100vh;
    /* background:rgba(221, 221, 193, 0.411); */
    display: block;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    /* color: cornsilk; */
    /* justify-content: center; */
   
}
/* home */
.home{
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 248, 249);
    animation: pop 3s ;

}
.home h2{
    color: rgb(255, 255, 255);
}
.home button{
    width: 130px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid crimson;
    color: rgb(220, 43, 20);
    font-weight: 600;
    /* animation: pop 4s ; */

}
.ball{
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: crimson;
    border-radius: 50px;
    animation: bounce 7s;
}
.signup{
    display: block;
    background-color: rgba(226, 221, 222, 0.315);
    /* border: 2px solid crimson; */
    height: 300px;
    width: 500px;
    margin: -200px auto 0 auto;
    border-radius: 10px
}
.signup button{
    width: 50%;
    background-color:whitesmoke;
    border: 1px solid rgb(216, 194, 198);
    font-size: large;
    font-weight: bolder;
    color: crimson;
}
.sign-in-btn{
    border-top-left-radius: 10px;

}
.sign-up-btn{
    border-top-right-radius: 10px;

}
.auth{

    display: block;
    height: 60px;
    width: 300px;
    /* background-color: aliceblue; */
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 20px;
    text-align:left;
}
.auth1{

    visibility: hidden;
    height: 60px;
    width: 300px;
    /* background-color: aliceblue; */
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 20px;
    text-align:left;

}

.auth input{
    height: 40px;
    display: block;
    width: 300px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    text-indent: 10px;
    /* background-color: red; */
}
.auth label{
    width: 20px;
    font-weight: bold;
    color: red;
    
}
.sign button{
    margin-top: 29px;
    border-radius:10px ;
}

.logged-info{
    color: white;
    margin-top: 10px;
}
/* header */
.user{
    display: none;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content:end;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border: 2px solid beige; */

}
.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}
.batsmen{
    /* background-color: black; */
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.batsmen span{
    font-weight: bold;
    font-size: large;
}
.scoree{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    width: 60px;
    height: 30px;
    overflow-y: hidden;
}
.scoree h3{
    position: absolute;
    top: 16px;
}
.teem{
    position: absolute;
    animation: roll 700ms linear;
    left: 0px;
    top: 16px;
}
.wick{
    position: absolute;
    right: 11px;
    top: 16px;

    animation: roll 700ms linear;

}
.cont{
   display: flex;
   width: 100vw;
   /* margin-top: -100px; */
   height: 90vh;
   /* background-color: aquamarine; */
   align-items: center;
   justify-content: space-around;
   text-align: center;
}

.teams img{
  height: 70px;
  width: 70px;
  /* border: 2px solid rosybrown; */
}
.teams p{
    color:white;
    font-size: x-large;
    font-weight: bold;

}
.score{
    color: cornsilk;
}
.score h3{
    margin:-10px 0 -20px 0px;
}


.card{
    display: flex;
    width: 100vw;
    height: 390px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-around;
    color: beige;
    margin-top: -100px;
}
.bowling{
    /* background-color: black; */
    height: 100px;
    width:220px;
}

.batting h3{
  margin-bottom: -20px;
}
.bowling h3{
    /* background-color: aliceblue; */
    width: 200px;
    text-align: center;
    /* height: 20px; */
    margin-bottom: 1px;
 }
 .timeline{
     display: flex;
     /* background-color: rgb(16, 27, 27); */
     flex-wrap: wrap;
     align-items: center;
 }
 .timeline h2{
     text-align: center;
     /* margin-left: 30px; */
     /* background-color: rgb(243, 162, 55); */
     border: 2px solid beige;
     min-width: 30px;
     height: 30px;
     /* font-size: small; */
     margin-bottom: -20px;
 }
 

.selection{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    width: 76vw;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(220, 20, 60, 0.671);
    border: 6px solid rgb(228, 164, 164);
    border-radius: 9px;
    color: beige;
    justify-content: center;
    align-items: center;
    left: 12vw;
    top: 25vh;
}
.selection select{
    width: 130px;
    height: 60px;
    background-color: crimson;
    color: beige;
    border-radius: 8px;
    border: 3px solid rgb(228, 164, 164);
    font-size: large;
    font-weight: bold;
}
.target{
    color: beige;
    background-color: crimson;
    text-align: center;
    padding:40px ;
}
.target button{
    width: 130px;
    height: 60px;
    background-color: crimson;
    color: beige;
    border-radius: 8px;
    border: 3px solid rgb(228, 164, 164);
    font-size: large;
    font-weight: bold;
}
.target button:hover{
    background-color: beige;
    color: crimson;
}

.scorecard{
    /* background-color: aqua; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.5); */

}
.scorecard table{
    border-collapse: collapse;
    width: 30vw;
}
.scorecard table th{
    text-align: center;
    border-radius: 0;
    border: 2px solid rgb(218, 211, 211);
    width: 27vw;
    height: 40px;
    
}
.scorecard table td{
    background-color:transparent;
    color: white;
    height: 30px;
}
.scorecard table tr td{
    color: crimson;
    border: 2px solid crimson;
    background-color: white;
    border-radius: 0px;
}




/* sign */


.inputs{
    width: 100vw;
    height: auto;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 30px 0 0 0 ; */
    color: rgb(243, 241, 240);
    /* background-color: crimson; */
}
.inputs p{
    margin-bottom: -7px ;
    font-weight: bolder;
    font-size: larger;
}
.inputs input{
    width: 60vw;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    text-indent: 20px;
    font-size: large;
    border: 2px solid rgb(247, 243, 243);
}
.in-but{
    margin: 20px 0;
    width: 40vw;
    height: 50px;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 10px;
    color: crimson;
    background-color: white;
    border-radius: 30px;
     font-weight: bold;
     font-size: large;
}

.teamname{
    position: relative;
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: medium;
    color: rgb(255, 255, 255);
    /* margin-bottom: -50px; */
    /* background-color: aqua; */
    /* margin: -100px 0 0 0; */

}

.teamname h2{
    position: absolute;
}

.teamname h1{
    /* background-color: aquamarine; */
    width: 150px;
    word-wrap: break-word;
}

.players input,button{
   height: 40px;
}

.playersname{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* text-align: start; */
    font-size: larger;
    font-weight: bolder;
    color:rgb(241, 241, 238);
    /* background-color: aqua; */
}
table{
    /* border: 1px solid black; */
    width: 300px;
    margin-top: 10px;
    /* border-collapse:collapse ; */
    border-radius: 2px;

    /* background-color: rgb(62, 184, 184); */
}
 th{
    /* border: 1px solid rgb(231, 73, 94); */
    /* border-collapse:collapse ; */
    background-color: rgb(231, 73, 94);
    border-radius: 20px;
    color: beige;
}
td{
    /* border: 1px solid rgb(231, 73, 94); */
    border-radius: 20px;
    /* margin-bottom: 20px; */
    background-color: rgb(255, 255, 255);
    color: rgb(231, 73, 94);
    padding: 5px;
    width: 190px;


}
.players{
    color: rgb(255, 255, 255);
}

.team1{

}

.entering{
   display: block;
   width: 290px;
   margin: 0 auto;
}
.entering input{
    width: 100%;
    border-radius: 10px;
    text-indent: 10px;
    margin-bottom:10px ;
    font-size: larger;
}
.entering div button{
    width: 50%;
    border-radius: 20px;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 10px;
    color: crimson;
    background-color: white;
    border-radius: 30px;
     font-weight: bold;
     font-size: large;
}
.entering div{
    width: 100%;
    /* background-color: aqua; */
}
.submit{
    width: 170px;
    margin: 20px;
    border-radius: 20px;
}
/* teams */

.teamdet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: crimson;
    /* background-color: antiquewhite; */
    text-align: center;
    font-weight: bolder;
    width: 60vw;
    margin:0 auto;
}
.teamdet th td{
    text-align: center;
    color: beige;
    font-size:x-large;
    background-color: rgb(223, 56, 92);
    width: 300px;
    padding: 10px;
    border: 4px solid beige;
    
}
.list table{
    width: 100%;
}
.toss{
    display: block;
    margin: 60px auto;
    /* background-color: beige; */
    width: 70vw;
    color: crimson;
}
.toss button{
    height: 40px;
    width: 90px;
    font-size: large;
    color: crimson;
    background-color: rgb(255, 255, 255);
    border: 3px solid crimson;
}
.toss .team1{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
}
.toss .team2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left:none ;

}
.toss .team1:focus{
    background-color:  crimson;
    color:beige ;
}
.toss .team2:focus{
    background-color:  crimson;
    color:beige ;
}

.toss .team1:hover{
    background-color:  rgb(226, 154, 163);
    color:crimson ;
}
.toss .team2:hover{
    background-color:  rgb(226, 154, 163);
    color:crimson ;
}
.toss select{
    height: 40px;
    width: 90px;
    color: crimson;
    border: 3px solid crimson;
    border-radius: 10px;
    font-weight: bolder;
}
.toss select option{
    border: 3px solid crimson;
    border-radius: 10px;

    height:20px;
    width: 40px;
}
.toss input{
    height: 50px;
    width: 190px;
    border-radius: 12px;
    text-indent: 10px;
    margin-bottom: 20px;
    border: 3px solid crimson;
    text-align: center;
    font-size: medium;
}
.rahul{
    /* background-color: beige; */
    /* color: crimson; */
    /* border: 3px solid crimson; */
    border-radius: 10px;
    /* font-weight: bold; */
    /* width: 240px; */
    /* height: 20px; */
}
.rahul:hover{
   
    background-color: crimson;
    /* border: 3px solid crimson; */
    color: beige;
    /* border: 3px solid beige; */
    border-radius: 15px;
}
/* update */
.newball{
    height: 90px;
    width: 80vw;
    margin: 25px auto -10px auto;
    background-color: beige;
    color: crimson;
    border-radius: 8px;
    border: 3px solid rgb(228, 164, 164);
    font-size: large;
    font-weight: bold;
}

.newball:hover{
    background-color: rgb(204, 83, 83);
    color: beige;
}
.options{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 76vw;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(201, 81, 105, 0.8);
    border: 6px solid rgb(228, 164, 164);
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    left: 12vw;
    top: 25vh;
    overflow: scroll;
    /* right: 50%; */
}
.options button{
    margin: 10px;
    width: 130px;
    height: 60px;
    background-color: crimson;
    color: beige;
    border-radius: 8px;
    border: 3px solid rgb(228, 164, 164);
    font-size: large;
    font-weight: bold;
}
.options button:focus{
    background-color: beige;
    color: crimson;
}
.options button:hover{
    background-color: rgb(243, 184, 184);
    color: crimson;
}
.total{
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
}
.total h2{
    font-size: medium;
    color: beige;
}



@keyframes pop{
    from{
       scale: 0.6;
    }
    to{
       scale: 1;
    }
}
@keyframes roll{
   from{
    top: 0px;
   }
   to{
    top: 16px;
   }
}
@keyframes bounce{
    0%{
        top: 0;
    }
    7%{
        top: 100vh;
    }
    10%{
        top: 70vh;
        /* left: 30vw; */
    }
    12%{
        top: 100vh;
    }
    70%{
        top: 80vh;
    }
    80%{
        top: 100vh;
    }
    100%{
        top: 100vh;
    }
}